/*Logos and bg*/
$logo-1: "../imagens/logo1.png";
$logo-2: "../imagens/logo2.png";
$bg-form: "../imagens/bg-form.jpg";
/****/

/*Colors*/
$header-color: rgba(180, 180, 180);
$section-call-container: rgba(233, 233, 233);
/*****/

/*Responsive*/
$max-width-1: 510px;
$middle: 960px;
$tablet: 768px;
/****/

/*Font-family*/
$Open-Sans: "Open Sans", sans-serif;
/****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Open-Sans;
}

html,
body {
  height: 100%;
}

/**Divs gerais!*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.clear {
  clear: both;
}
/******/

header {
  background-color: $header-color;
  padding: 10px 2% 20px 2%;
}

.logo-1 {
  float: left;
  width: 160px;
  height: 60px;
  /*background-color: purple;*/
  background-image: url($logo-1);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-2 {
  float: right;
  width: 160px;
  height: 60px;
  /*background-color: green;*/
  background-image: url($logo-2);
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

section.cover-form {
  width: 100%;
}

.bg {
  position: relative;
  height: 550px;
  background-image: url($bg-form);
  background-size: cover;
  background-position: center;
}

.form-container {
  position: absolute;
  right: 30px;
  top: -2.5%;
  width: 400px;
  height: 108%;
  box-shadow: 1px 1px 2px 1px rgb(180, 180, 180);
  background-color: rgba(255, 255, 255, 0.8);

  & h2 {
    padding: 25px 15px;
    color: black;
    font-size: 18px;
    font-weight: normal;
    background-color: rgba(210, 210, 210, 0.9);
  }

  & form {
    margin-top: 8px;
    padding: 15px;
  }

  & form p {
    font-size: 14px;
    color: #525252;
  }

  & form input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    line-height: 45px;
    padding-left: 10px;
  }

  & form input[type="submit"] {
    background-color: #033c50;
    text-transform: uppercase;
    color: white;
    width: 100%;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: 0;
  }

  & form input[type="submit"]:hover {
    background-color: #04455c;
  }
}

.form-wraper:not(:first-child) {
  margin-top: 40px;

  &:last-child {
    margin-top: 20px;
  }
}

section.section-call {
  text-align: center;
  width: 100%;
  z-index: 1;

  & h2 {
    width: 98%;
    display: inline-block;
    max-width: 700px;
    color: black;
    font-size: 30px;
    font-weight: normal;
  }

  & p {
    margin-top: 1.2%;
    font-size: 18px;
    font-weight: normal;
  }

  & .container {
    background-color: $section-call-container;
    padding: 60px 0 35px 0;
  }
}

.flex-mosaic {
  display: flex;
}

.item-1-mosaic {
  background-position: center;
  background-size: cover;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 55%;
}

.item-2-mosaic {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: $section-call-container;
  font-size: 24px;
  padding: 80px 40px;
  width: 45%;

  & strong {
    font-size: 15px;
  }
}

section.pre-footer {
  text-align: center;
  display: flex;
  width: 100%;
  z-index: 1;

  & .container {
    background-color: $section-call-container;
    padding: 60px 0 35px 0;
  }

  & h2 {
    font-size: 16.5px;
  }

  & p {
    text-decoration: underline;
    font-style: italic;
    font-size: 16px;
    font-weight: 590;
    padding: 0 20px;
    margin-top: 2.5%;
  }
}

footer {
  text-align: center;
  padding: 20px 0;

  & p {
    margin-top: 8px;
  }

  & p#copyright {
    font-size: 20px;
  }

  & p#developer {
    font-weight: 600;
  }

  & p a {
    box-shadow: inset 0 0 0 0 #7600c5;
    color: #7600c5;
    margin: 0 -0.25rem;
    padding: 0 0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  & p a:hover {
    box-shadow: inset 150px 0 0 0 #7600c5;
    color: white;
  }
}

@media screen and (max-width: $middle) {
  .bg {
    height: auto;
    padding: 40px 0;
    text-align: center;
  }

  .form-container {
    width: 98%;
    height: auto;
    max-width: 400px;
    position: static;
    display: inline-block;
  }
}

@media screen and (max-width: $tablet) {
  .flex-mosaic {
    display: block;
  }

  .item-1-mosaic {
    height: 225px;
    width: 100%;
  }

  .item-2-mosaic {
    font-size: 25px;
    text-align: center;
    height: 200px;
    width: 100%;
  }
}

@media screen and (max-width: $max-width-1) {
  [class^="logo"] {
    margin-top: 10px;
    display: inline-block;
    float: none;
  }

  header {
    text-align: center;
  }

  section.section-call {
    & p {
      width: 98%;
      display: inline-block;
      color: black;
      margin-top: 1.2%;
      font-size: 18px;
      font-weight: normal;
    }
  }
}
