* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/**Divs gerais!*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.clear {
  clear: both;
}
/******/

header {
  background-color: #d6d6d6;
  padding: 10px 0;
}

.logo-1 {
  float: left;
  width: 100px;
  height: 70px;
  background-color: purple;
}

.logo-2 {
  float: right;
  width: 100px;
  height: 70px;
  background-color: green;
}
